{include file="layout" title="登录" /}
<style>
    #top_info{
        visibility:hidden;
    }
</style>

<div class="layui-container" style="width:300;position:relative;left:0%">
    <form action="" target="exec_target" class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <input type="text" name="login_username" id="login_username" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <input type="text" name="login_password" id="login_password" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <input type="text" name="login_capcha" id="login_capcha" lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <img id="login_captcha_img" src="{:captcha_src()}" onclick="this.src='/index.php/captcha?id='+Math.random()" style="cursor: pointer" /><br />
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="demo1" id="login_login">登录</button>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="login_forgetpassword">忘记密码</button>
            <button class="layui-btn" id="login_signup">注册</button>
        </div>

    </form>
</div>
<iframe name="exec_target" hidden />

