{include file="layout" title="管理员页面"/}

<div id="bottom">
    <form method="post" >
        <div>
            充值确认：<input type="submit" value="充值确认" formaction="{:url('gjcf/chargeconfirm/index')}"/><br/>
            提现确认：<input type="submit" value="提现确认" formaction="{:url('gjcf/withdrawconfirm/index')}"/><br/>
            结算：<input type="submit" value="结算" formaction="{:url('gjcf/balance/index')}" /><br/>
            分红利润：<input type="text" name="bonusprofit" /><input type="submit" value="设置" formaction="{:url('gjcf/bonusconfirm/setbonus')}" /><br/>
            <input type="submit" value="分红" formaction="{:url('gjcf/bonusconfirm/index')}" /><br/>
        </div>
    </form>
</div>

</body>
