{include file="layout" title="修改密码" /}
<style>
    #top_info{
        visibility:visible;
    }
</style>

<div class="layui-container" style="width:300;position:relative;left:0%">
    <form action="" target="exec_target" class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <input type="text" name="fixpassword_oldpassword" id="fixpassword_oldpassword" lay-verify="required" placeholder="原密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <input type="text" name="fixpassword_newpassword" id="fixpassword_newpassword" lay-verify="required" placeholder="新密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" id="fixpassword_ok">确定</button>
        </div>
    </form>
</div>
<iframe name="exec_target" hidden />