{include file="layout" title="主页"/}
<script type="text/javascript">
    $("#top_info").css("visibility", "visible");

    window.onload = GetUserInfo();

</script>

<div id="bottom">
    <h2>投资项目</h2>
    <table class="layui-table" lay-data="{height:332, url:'/index.php/gjcf/index/getproject', page:true, id:'idTest'}" lay-filter="index_invest">
        <thead>
        <tr>
            <th lay-data="{field:'id', sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'caption'}">项目名称</th>
            <th lay-data="{field:'investydc', sort: true}">投资金额</th>
            <th lay-data="{field:'profitydc'}">收益</th>
            <th lay-data="{field:'balancedays'}">收益天数</th>
            <th lay-data="{field:'balanceperday'}">每日收益</th>
            <th lay-data="{field:'remaininvest'}">剩余投资额</th>
            <th lay-data="{field:'projectpercent'}">投资进度</th>
            <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
    </table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">投资协议</a>
        <a class="layui-btn layui-btn-xs" lay-event="invest">投资</a>
    </script>
    <div class="layui-tab-item">
        <div id="pageDemo"></div>
    </div>
</div>
<script>
    $(function(){
        layui.use(['layer', 'table'], function(){
            var table = layui.table;

            //监听工具条
            table.on('tool(index_invest)', function(obj){
                var data = obj.data;
                if(obj.event === 'detail'){
                    layer.msg('ID：'+ data.id + ' 的查看操作');
                } else if(obj.event === 'invest'){
                    $.ajax({
                        type:"post",
                        url:"/index.php/gjcf/invest/investproject",
                        async:true,
                        dateType:"json",
                        data:{
                            projectid:data.id
                        },
                        success:function(ajaxdata){
                            ajaxdata = eval("(" + ajaxdata + ")");
                            $.ShowMsg(ajaxdata.msg);
                            //10,1,11,9,12,0,13
                            switch(ajaxdata.code){
                                case 0: //更新剩余投资额
//                                    obj.data.zt=res.data.zt;//更新数据
//                                    var toolhtml;
//                                    laytpl(tooltpl.innerHTML).render(obj.data, function(html){//tooltpl为toolbar的script模板id
//                                        toolhtml = html;
//                                    });
//                                    tr.children('td[data-field="7"]').children('div').html(toolhtml);//7为当前表格工具列是表格的第几列
                                    obj.update({
                                        projectpercent: ajaxdata.projectpercent,
                                        remaininvest: ajaxdata.remaininvest
                                    });
                                    break;
                                default:
                                    break;
                            }
                        }
                    });
                }
            });

        });
    });
</script>
<script type="text/javascript">
//    $(window).onload = GetProject();

    //分页
//    layui.use(['laypage', 'layer'], function(){
//        laypage.render({
//            elem: 'pageDemo' //分页容器的id
//            ,count: 100 //总页数
//            ,skin: '#1E9FFF' //自定义选中色值
//            //,skip: true //开启跳页
//            ,jump: function(obj, first){
//                if(!first){
//                    layer.msg('第'+ obj.curr +'页');
//                }
//            }
//        });
//    });
</script>

