{include file="layout" title="集团信息" /}
<script type="text/javascript">
    window.onload = SysteminfoOnload();
</script>


<div class="layui-container" style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-card-header">【公司简介】</div>
            <div class="layui-card-body">
                国际财富自由基金管理有限公司由海归博士孙海立创立，投资项目涉及地产，医疗，生物，人工智能等多个领域
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【国际财富】</div>
            <div class="layui-card-body">
                免费注册成为会员，赠送1000体验金，可投资体验项目，收益可直接提现
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【可用YDC】</div>
            <div class="layui-card-body">
                YDC全称云豆币，可直接提现，1YDC=1人民币
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【冻结YDC】</div>
            <div class="layui-card-body">
                冻结YDC不可直接提现，需要通过推荐奖缓释到可用YDC<br/>
                缓释规则为：每次缓释等额推荐奖<br/>
                比如冻结100YDC，推荐奖10YDC，则缓释10冻结YDC到可用YDC<br/>
                冻结YDC可通过签到，活动等获得<br/>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【体验YDC】</div>
            <div class="layui-card-body">
                体验YDC只能投资体验项目<br/>
                体验YDC可通过注册，活动等获得
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【推荐制度】</div>
            <div class="layui-card-body">
                无需投资即可享受推荐奖
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【推荐收益奖】</div>
            <div class="layui-card-body">
                1代收益10%<br/>
                2代收益5%<br/>
                3代收益3%<br/>
                推荐奖记入可用YDC<br/>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【市场拓展奖】</div>
            <div class="layui-card-body">
                有效直推3人奖，平分当日分红20%<br/>
                有效直推6人奖，平分当日分红30%<br/>
                有效直推9人奖，平分当日分红50%<br/>
                推荐人如投资体验项目外其他项目，即为有效直推<br/>
                市场拓展奖记入可用YDC
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【提现】</div>
            <div class="layui-card-body">
                提现收取5%手续费<br/>
                提现时间9：00-17：00，每天均可提现<br/>
                提现到账时间：2小时<br/>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【国际财富项目八大核心竞争力】</div>
            <div class="layui-card-body">
                第一，终身不用投一分钱还可以快速赚大钱还只增不减！<br/>
                第二，合法合规、不伤人脉还养人脉！<br/>
                第三，项目公开透明！<br/>
                第四，巅覆性商业模式，钱景无限！<br>
                第五，免费注册，病毒式营销、团队裂变迅速！<br/>
                第六，技术实力强大，操作简单易于上手,所有奖金全部秒结秒提几个能做到！<br/>
                第七，投资过程就是娱乐过程，边投边赚，嗨到不行！<br/>
                第八，具有长久稳定管道收入属性，伞下会员的高频交易让你实现睡后管道收入，不是资金盘胜过资金盘！<br/>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">【公司愿景】</div>
            <div class="layui-card-body">
                每一个我们的朋友，不管认识之前如何，合作之后都希望能拥有一份持久轻松愉快的心情。<br/>
                每一个我们的同事，不管进来之前如何，出去之后都希望能拥有一身正气和澎湃的激情！
            </div>
        </div>
    </div>
</div>
