{include file="layout" title="我的团队"/}
<style type="text/css">
    #top_info{
        visibility:visible;
    }

</style>
<script type="text/javascript">
    window.onload = GetTeam();
</script>



<div class="layui-container dtree" style="position:relative;left:0%">
    <form class="layui-form layui-form-pane" method="post" action="javascript:;">
        <div class="layui-form-item">
            <div class="layui-inline" >
                <label class="layui-form-label" style="width:150;">我的上级代理ID：</label>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100;"></label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" >
                <label class="layui-form-label" style="width:150;">一级代理人数：</label>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100;"></label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" >
                <label class="layui-form-label" style="width:150;">二级代理人数：</label>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100;"></label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" >
                <label class="layui-form-label" style="width:150;">三级代理人数：</label>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:100;"></label>
            </div>
        </div>

    </form>




    <div class="layui-container" id="team_tree">

    </div>



    <script type="text/javascript">
        d = new dTree('d');

        d.add(0, -1, "0aasdfasdfasdfsdfasdf", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(1, 0, "asdasdfasdfasdfsf1", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(2, 1, "2asddafsdafsadfasdffasdf", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(3, 1, "3assadfasdfsdafsdafdfas", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(4, 3, "4dfsdafsdafasdf", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(5, 3, "5asdsdafsdafasdf", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(6, 5, "6asdfsdaasdf", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(7, 5, "7sadffsdasadf", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(8, 5, "8sadfsadfsfsdafsadfasd", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(9, 5, "9fsadffsadsadfsd", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        d.add(19, 5, "7777777fasdfsadf77777777777719", "", "", "", "../../../static/dtree/img/person.gif","../../../static/dtree/img/person.gif");
        document.getElementById("team_tree").innerHTML = d;
    </script>
</div>