{include file="layout" title="投资记录"/}

<script type="text/javascript">
    window.onload = InvestrecordOnload();
</script>
<div class="layui-container" id="investrecord_dive">
    <table class="layui-hide" id="investrecord_table"></table>
</div>
<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#investrecord_table'
            ,url:'/index.php/gjcf/investrecord/getinvestrecord'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {field:'caption', title: '项目'}
                ,{field:'investtime', title: '时间', sort: true}
                ,{field:'investydc', title: '本金'}
                ,{field:'profitydc', title: '利润'}
                ,{field:'balancedays', title: '返现天数'}
                ,{field:'paydays', title: '已返天数'}
            ]]
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,rows:10
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
        });
    });
</script>


