{include file="layout" title="注册"/}

<script text="text/javascript">
    var referee = GetUrlParam('referee');
    window.onload = function(){
        $("#signup_referee").val(referee);
    }
</script>


<div>
    用户名 <input type="text" id="signup_username" name="username" /><br />
    密码 <input type="text" id="signup_password" name="password" /><br />
    手机号 <input type="text" id="signup_tel" name="tel" /><br />
    推荐人ID <input type="text" id="signup_referee" name="referee" /><br />
    验证码 <input type="text" id="signup_capcha" name="capcha" /><br/>
    <img id="signup_capcha_img" src="{:captcha_src()}" onclick="this.src='/index.php/captcha?id='+Math.random()" style="cursor: pointer" /><br />
    <input type="button" value="注册" id="signup_signup" />
</div>


