{include file="layout" title="注册"/}

<script text="text/javascript">


    window.onload = SignupOnload();

</script>


<div class="layui-container" style="width:300;position:relative;left:0%">
    <form action="javascript:;" target="exec_target" class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <input type="text" name="signup_username" id="signup_username" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <input type="text" name="signup_password" id="signup_password" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <input type="text" name="signup_tel" id="signup_tel" lay-verify="required|phone" placeholder="手机号" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="signup_gettelidentify">点击发送验证码</button>
        </div>

        <div class="layui-form-item">
            <input type="text" name="signup_telidentify" id="signup_telidentify" lay-verify="required" placeholder="手机验证码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <input type="text" name="signup_referee" id="signup_referee" lay-verify="required" placeholder="推荐人ID" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <input type="text" name="signup_capcha" id="signup_capcha" lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-item">
            <img id="signup_capcha_img" src="{:captcha_src()}" onclick="this.src='/index.php/captcha?id='+Math.random()" style="cursor: pointer;position:relative;left:0%;" /><br />
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="demo1" id="signup_signup">注册</button>
            <button class="layui-btn" lay-submit="" lay-filter="demo1" id="signup_login">返回登录</button>
        </div>

    </form>

</div>
<iframe name="exec_target" hidden />
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //表单初始赋值
        form.val('example', {
            "username": "贤心" // "name": "value"
            ,"password": "123456"
            ,"interest": 1
            ,"like[write]": true //复选框选中状态
            ,"close": true //开关状态
            ,"sex": "女"
            ,"desc": "我爱 layui"
        })


    });
</script>

