{include file="layout" title="确认充值"/}


<div id="bottom">
        <table class="layui-hide" id="chargeconfirm_table" lay-filter="chargeconfirmfilter"></table>
</div>


<script>
    layui.use("table", function(){
        var table = layui.table;

        table.render({
            elem:"#chargeconfirm_table",
            url:"/index.php/gjcf/chargeconfirm/getchargerecord",
            cols:[[
                {field:"name", title:"姓名"},
                {field:"alipaynum", title:"支付宝账号"},
                {field:"ydc", title:"充值额度"},
                {field:"chargetime", title:"充值时间"},
                {field:"right", toolbar:"#chargeconfirm", title:"操作"}
            ]],
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                rows: 10,
                groups: 1, //只显示 1 个连续页码
                first: false, //不显示首页
                last: false //不显示尾页
            }
        });
    });
</script>

<script type="text/html" id="chargeconfirm">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="success">确认</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="failed">取消</a>
</script>
<script>
    layui.use("table", function(){
        var table = layui.table;
        table.on('tool(chargeconfirmfilter)', function(obj){
            var data = obj.data;
            if(obj.event === 'success'){
                $.ajax({
                    type:"post",
                    url:"/index.php/gjcf/chargeconfirm/chargeconfirmsuccess",
                    async:true,
                    dateType:"json",
                    data:{
                        chargeid:data.id
                    },
                    success:function(ajaxdata){
                        ajaxdata = eval("(" + ajaxdata + ")");
                        $.ShowMsg(ajaxdata.msg);
                        switch(ajaxdata.code){
                            case 0: //更新剩余投资额

                                break;
                            default:
                                break;
                        }
                    }
                });
            } else if(obj.event === 'failed'){
                $.ajax({
                    type:"post",
                    url:"/index.php/gjcf/chargeconfirm/chargeconfirmfailed",
                    async:true,
                    dateType:"json",
                    data:{
                        chargeid:data.id
                    },
                    success:function(ajaxdata){
                        ajaxdata = eval("(" + ajaxdata + ")");
                        $.ShowMsg(ajaxdata.msg);
                        switch(ajaxdata.code){
                            case 0: //更新剩余投资额

                                break;
                            default:
                                break;
                        }
                    }
                });
            }
            obj.del();
        });

    });
</script>