{include file="layout" title="忘记密码" /}

<body>
<div>
    用户名 <input type="text" name="forgetpassword_username" /><br />
    手机号 <input type="text" name="forgetpassword_tel" />
    <input type="button" value="获取验证码" id="forgetpassword_gettelidentify" /><br />
    输入手机验证码 <input type="text" name="forgetpassword_telidentify" /><br />
    新密码 <input type="text" name="forgetpassword_newpassword" /><br />
    <input type="button" value="确定" id="forgetpassword_newpasswordok" />
</div>

</body>
