{include file="layout" title="邀请链接" /}
<style>
    #top_info{
        visibility:visible;
    }

</style>
<div class="layui-container" style="width:300;position:relative;left:0%">
    <form action="javascript:;" class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:300;">扫码注册：</label>
        </div>
        <div class="layui-form-item">
            <div id="invite_qrcode" height="300" width="300"><br/>
        </div>
        <br/>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:300;">注册链接</label>
        </div>
        <div class="layui-form-item">
            <textarea  cols="40" rows="3" id="invite_url" wrap="virtual" readonly="readonly"></textarea>
        </div>
    </form>
</div>

<script type="text/javascript">

    window.onload = GetInviteUrl();
    window.attachEvent("onload", GetUserInfo());
</script>